# Environment variables
.env
.env.example
node_modules
.vscode
squashfs-root
dist
dist-packaged

# Credentials / Secrets
client_secrets.json
**/client_secrets.json
credentials.json
**/credentials.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Temp storage
tmp/
./tmp/
logs/
*.log

# Local installations & outputs
app_tag_auditor/bin/
bin/
app_tag_auditor/output/
output/


# Auth session files
.sessions/

# JADX binary (downloaded by build.sh)
.jadx/
